<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plan.price %>
</p>

<p>
  <strong>Max project:</strong>
  <%= @plan.max_project %>
</p>

<p>
  <strong>Max storage:</strong>
  <%= @plan.max_storage %>
</p>

<p>
  <strong>Max upload:</strong>
  <%= @plan.max_upload %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @plan.integer %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
